{% extends 'base.html' %}

{% block content %}
<div class="card">
  <div class="card-body">
    <h5>{{ tweet.user }}</h5>
    <p>{{ tweet.body }}</p>
  </div>
</div>

<div class="card">
  <div class="card-body">
    {% for comment in tweet.comments.all %}
      <h5>{{ comment.user }}</h5>
      <p>{{ comment }}</p>
    {% endfor %}
  </div>
</div>

<a href="{% url 'twitter-update' tweet.id %}">Update</a>
<a href="{% url 'twitter-delete' tweet.id %}">Delete</a>
<a href="#">Add comment</a>


{% endblock content %}