{% extends 'base.html' %}

{% block content %}
<!-- Tweets Body -->
<div class="container">
  <div class="card">
    <div class="card-header">
      Tweet
    </div>
    <div class="card-body">
              <h3><img class="rounded-circle mr-3"
              style="width: 40px; height: 40px;"
              src="{{ tweet.user.profile.image.url }}"><a href="{% url 'user-feeds' tweet.user.username %}">{{ tweet.user }}</a></h3> 
      <p class="card-text">{{ tweet.body }}</p>
        <!-- Update and Delete button -->
        <fieldset>
          <small><a href="{% url 'twitter-update' tweet.id %}">Update</a></small>
          <small><a href="{% url 'twitter-delete' tweet.id %}">Delete</a></small>
        </fieldset>
      <form action="{% url 'like-tweet' tweet.id %}" method="POST"> 
        {% csrf_token %}
        {% if liked %}
          <button name="tweet_id" value="{{ tweet.id }}" 
          type="submit" class="btn btn-danger btn-sm">Unlike</button> 
          <small>{{ total_likes }} likes</small>
        {% else %}
          <button name="tweet_id" value="{{ tweet.id }}" 
          type="submit" class="btn btn-primary btn-sm">Like</button> 
          <small>{{ total_likes }} likes</small>
        {% endif %}
      </form>
    </div>
  </div>


  <!-- Form for comment --> 
  <div class="card">
    <div class="card-header">
      Add comment
    </div>
    <div class="card-body">
      <form method="post">{% csrf_token %}
        {{ form.as_p }}
        <button method="submit" class="btn btn-success primary">Post</button>
      </form>
    </div>
  </div>

  <!-- Comments --> 
  <div class="card">
    <div class="card-header">
      Comment
    </div>
    <div class="card-body">
      {% for comment in tweet.comments.all %}
        <h3><img class="rounded-circle mr-3"
              style="width: 20px; height: 20px;"
              src="{{ comment.user.profile.image.url }}"><a href="{% url 'user-feeds' comment.user.username %}">{{ comment.user }}</a></h3>
        <p>{{ comment }} - {{ comment.created_at }}</p>
        {% empty %}
          <div class="alert alert-dark" role="alert">
            There are no comments yet.
          </div>
      {% endfor %}
    </div>
  </div>


</div>
{% endblock content %}