{% extends "base.html" %}
{% block content %}
<div class="container">
  <div class="row">

<!-- First column, profile -->
<div class="col-2">
  <h2>Profile</h2>
    {% if actual_user %}
    <!-- For user page list -->
    <img class="rounded-circle mr-3"
          style="width: 100px; height: 100px;"
          src="{{ actual_user.profile.image.url }}">
    <h4 style="text-align: left">
      <a href="{% url 'user-feeds' actual_user.username %}">{{ actual_user.username }}</a>
    </h4>
    <h4>
      <div class="card">
        <div class="card-body">
            <q><small><i>{{ actual_user.profile.bio }}</i></small></q>
        </div>
      </div>
    </h4>
      <a href="{% url 'user-followers' actual_user.username %}"><h5>{{ actual_user.profile.followers }} <small>Followers</small></h5></a>
      <a href="{% url 'user-following' actual_user.username %}"><h5>{{ actual_user.profile.following }} <small>Following</small></h5></a>
      <br>
      {% if not actual_user == user %}
          <form method="POST">{% csrf_token %}
            {% if can_follow %}
              <button name="" value="" 
              type="submit" class="btn btn-dark">Follow</button>         
            {% else %}
              <button name="" value="" 
              type="submit" class="btn btn-warning">Unfollow</button> 
            {% endif %}
          </form>
      {% endif %}
    {% else %}
    <!-- For homepage --> 
    <img class="rounded-circle mr-3"
          style="width: 100px; height: 100px;"
          src="{{ user.profile.image.url }}">
    <h4 style="text-align: left"><a href="{% url 'user-feeds' user.username %}">{{ user.username }}</a></h4>
    <h4><div class="card">
      <div class="card-body">
          <q><small><i>{{ user.profile.bio }}</i></small></q>
      </div>
        </div>
    </h4>
      <a href="{% url 'user-followers' user.username %}"><h5>{{ user.profile.followers }} <small>Followers</small></h5></a>
      <a href="{% url 'user-following' user.username %}"><h5>{{ user.profile.following }} <small>Following</small></h5></a>
      <br>
      <a 
        class="btn btn-primary btn-lg"
        href="{% url 'twitter-create' %}">Tweet</a>
    {% endif %}
</div>

<!-- 2nd column, Newsfeed -->
<div class="col-7">
  <h2>Newsfeed</h2>
    {% for tweet in tweets_list %}
        <div class="card">
          <div class="card-header">
              <span class="text-muted"> 
              <img class="rounded-circle mr-3"
              style="width: 20px; height: 20px;"
              src="{{ tweet.user.profile.image.url }}">
            <a href="{% url 'user-feeds' tweet.user.username %}">{{ tweet.user }}</a> | {{ tweet.created_at | date:"H:i l, d.m.y" }}
              </span>
          </div>
          <div class="card-body">
              <p>{{ tweet.body }}</p>
              <a 
                style="font-size: 12px" 
                href="{% url 'twitter-delete' tweet.id %}"><i>(Delete)</i></a>
              <a 
                style="font-size: 12px" 
                href="{% url 'twitter-update' tweet.id %}"><i>(Update)</i></a>
              <br><small>
                <a href="{% url 'twitter-detail' tweet.id %}">
                  {{ tweet.number_of_comments }} comment(s)
                </a>
              </small>
              <small>
                <a href="#">
                {{ tweet.total_likes }} like(s) 
                </a>
              </small>
          </div>
        </div>
    {% endfor %}
<!--     Pagination for list views -->
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}
        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>
        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
</div>

<!-- 3rd column, Explore -->
<div class="col-1">
  <h2>More</h2>
    <div class="card" style="width: 18rem;">
      <div class="card-header">
        @2020 Twitter, Inc - by Duy Huynh  
      </div>
        <ul class="list-group list-group-flush">
          <a href="#"><li class="list-group-item">Privacy Policy</li></a>
          <a href="#"><li class="list-group-item">Cookies</li></a>
          <a href="#"><li class="list-group-item">Ads info</li></a>
        </ul>
    </div>
</div>

<!-- End here -->
  </div>
</div>

{% endblock content %}