{% extends 'base.html' %}

{% block content %}
    {% if follow == 'following' %}
        <h3>Following</h3>
        <div class="row pr-3 pl-3">
            {% for follow in follows %}
                <div class="col-6 col-md-3 pl-0">
                    <div>
                        <img class="rounded-circle mr-2"
                            style="width: 20px; height: 20px;"
                            src="{{ follow.follower.profile.image.url }}">
                        <a class="mr-2 white-important" href="{% url 'user-feeds' follow.follower.username %}">
                            {{ follow.follower }}
                        </a>
                    </div>
                </div>
            {% endfor %}  
            </div>   
    {% else %}
            <h3>Followers</h3>
            <div class="row pr-3 pl-3">
            {% for follow in follows %}
                <div class="col-6 col-md-3 pl-0">
                    <div>
                        <img class="rounded-circle mr-2"
                            style="width: 20px; height: 20px;"
                            src="{{ follow.user.profile.image.url }}">
                        <a class="mr-2 white-important" 
                        href="{% url 'user-feeds' follow.user.username %}">
                            {{ follow.user }}
                        </a>
                    </div>
                </div>
            {% endfor %}
    </div>  
    {% endif %}
{% endblock %}